name: Automation Test Suite

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Run API tests
        run: ./gradlew apiTest "-DAPP_ID=${{ secrets.APP_ID }}"
        continue-on-error: true

      - name: Run Web tests
        run: ./gradlew webTest
