name: Automation Test Execution

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Ini untuk manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Run API Tests
        run: ./gradlew apiTest -DAPP_ID=${{ secrets.APP_ID }}
        continue-on-error: true

      - name: Run Web Tests
        run: ./gradlew webTest
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Web Tests
        run: ./gradlew webTest